src/ui/gtk/generator/festival.xsd

<?xml version="1.0"?>
<!--
MRROC++ GUI generator
XSD schema for the festival XML file. 
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="festival" type="festivalType" />

<xs:complexType name="festivalType">
	<xs:sequence>
		<xs:element name="name" type="xs:string" />
		<xs:element name="fullName" type="xs:string" />
	</xs:sequence>
</xs:complexType>

</xs:schema>
