src/ui/gtk/generator/irp6ontrack.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="irp6ontrack" type="Irp6Type" />

<xs:complexType name="Irp6Type">
	<xs:sequence>
		<xs:element name="name" type="xs:string" />
		<xs:element name="fullName" type="xs:string" />
		<xs:element name="irp6EDPNumber" type="xs:string" />
		<xs:element name="axis_xyz" type="xs:int" />
		<xs:element name="axis_ts" type="xs:int" />
		<xs:element name="euler_xyz" type="xs:int" />
		<xs:element name="euler_ts" type="xs:int" />
	</xs:sequence>
</xs:complexType>

</xs:schema>
