src/application/swarmitfix/plan/plan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="plan">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="svar">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="sHind"/>
                    <xs:element ref="eHind"/>
                    <xs:element ref="numH"/>
                    <xs:element ref="sBind"/>
                    <xs:element ref="eBind"/>
                    <xs:element ref="numB"/>
                    <xs:element ref="sPind"/>
                    <xs:element ref="ePind"/>
                    <xs:element ref="numP"/>
                    <xs:element ref="segInd"/>
                    <xs:element ref="agent"/>
                    <xs:element ref="TBeg"/>
                    <xs:element ref="TEnd"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="sNum"/>
        <xs:element name="head">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ind"/>
                    <xs:element ref="cx"/>
                    <xs:element ref="cy"/>
                    <xs:element ref="cz"/>
                    <xs:element ref="alfa"/>
                    <xs:element ref="beta"/>
                    <xs:element ref="gamma"/>
                    <xs:element ref="line"/>
                    <xs:element ref="lineseg"/>
                    <xs:element name="actions" type="xs:string"/>
                    <xs:element ref="numActions"/>
                    <xs:element ref="k1"/>
                    <xs:element ref="k2"/>
                    <xs:element ref="ABeg"/>
                    <xs:element ref="AHoldMin"/>
                    <xs:element ref="AHoldMax"/>
                    <xs:element ref="b"/>
                    <xs:element ref="bcx"/>
                    <xs:element ref="bcy"/>
                    <xs:element ref="dmin"/>
                    <xs:element ref="dmax"/>
                    <xs:element ref="dcen"/>
                    <xs:element ref="dh"/>
                    <xs:element ref="eps"/>
                    <xs:element ref="agent"/>
                    <xs:element ref="TBeg"/>
                    <xs:element ref="TEnd"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="hNum"/>
        <xs:element name="mbase">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ind"/>
                    <xs:element ref="bCind"/>
                    <xs:element ref="cx"/>
                    <xs:element ref="cy"/>
                    <xs:element ref="theta"/>
                    <xs:element ref="pkmTheta"/>
                    <xs:element name="actions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="pin"/>
                          <xs:element ref="dTheta"/>
                          <xs:element ref="dPkmTheta"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element ref="numActions"/>
                    <xs:element ref="agent"/>
                    <xs:element ref="TBeg"/>
                    <xs:element ref="TEnd"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="bNum"/>
        <xs:element name="pkm">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="ind"/>
                    <xs:element ref="alpha0"/>
                    <xs:element ref="l1"/>
                    <xs:element ref="l2"/>
                    <xs:element ref="l3"/>
                    <xs:element ref="psi1"/>
                    <xs:element ref="psi2"/>
                    <xs:element ref="psi3"/>
                    <xs:element ref="beta7"/>
                    <xs:element ref="pkmbaseToFixedPkm"/>
                    <xs:element ref="hlowered"/>
                    <xs:element ref="Dz"/>
                    <xs:element ref="maxPkmNeutralDist"/>
                    <xs:element ref="PX"/>
                    <xs:element ref="PZ"/>
                    <xs:element ref="COSGA"/>
                    <xs:element ref="SINGA"/>
                    <xs:element ref="agent"/>
                    <xs:element ref="TBeg"/>
                    <xs:element ref="TEnd"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="pNum"/>
        <xs:element ref="trajectory"/>
        <xs:element ref="workpiece"/>
        <xs:element ref="MaxHeadPerSegNum"/>
        <xs:element ref="MaxPkmPerHeadNum"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sNum" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation> Number of ... elements </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="hNum" type="xs:nonNegativeInteger"/>
  <xs:element name="bNum" type="xs:nonNegativeInteger"/>
  <xs:element name="pNum" type="xs:nonNegativeInteger"/>
  <xs:element name="trajectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="lineList"/>
        <xs:element ref="numOfLines"/>
        <xs:element ref="runLen"/>
        <xs:element ref="Fpar"/>
        <xs:element ref="Gpar"/>
        <xs:element ref="profile"/>
        <xs:element ref="tool_speed"/>
        <xs:element ref="F"/>
        <xs:element ref="G"/>
        <xs:element ref="NumOfHeadCoordinates"/>
        <xs:element ref="NumOfPKMCoordinates"/>
        <xs:element ref="Parabolic_Profile"/>
        <xs:element ref="Trapezoidal_Profile"/>
        <xs:element ref="Milling_Speed"/>
        <xs:element ref="Drilling_Speed"/>
        <xs:element ref="MBase_Max_Speed"/>
        <xs:element ref="MBase_Max_Accel"/>
        <xs:element ref="Head_Max_Speed"/>
        <xs:element ref="Head_Max_Accel"/>
        <xs:element ref="PKM_Platform_Max_Speed"/>
        <xs:element ref="PKM_Platform_Max_Accel"/>
        <xs:element ref="PKM_Max_Speed"/>
        <xs:element ref="PKM_Max_Accel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lineList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="sP"/>
              <xs:element ref="eP"/>
              <xs:element ref="sPos"/>
              <xs:element ref="ePos"/>
              <xs:element ref="a"/>
              <xs:element ref="b"/>
              <xs:element ref="c"/>
              <xs:element ref="norm"/>
              <xs:element ref="norm2"/>
              <xs:element ref="alfa"/>
              <xs:element ref="beta"/>
              <xs:element ref="gamma"/>
              <xs:element ref="len"/>
              <xs:element ref="index"/>              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numOfLines" type="xs:nonNegativeInteger"/>
  <xs:element name="runLen" type="xs:string"/>
  <xs:element name="Fpar" type="xs:integer"/>
  <xs:element name="Gpar" type="xs:integer"/>
  <xs:element name="profile" type="xs:integer"/>
  <xs:element name="tool_speed" type="xs:decimal"/>
  <xs:element name="F" type="xs:decimal"/>
  <xs:element name="G" type="xs:integer"/>
  <xs:element name="NumOfHeadCoordinates" type="xs:integer"/>
  <xs:element name="NumOfPKMCoordinates" type="xs:integer"/>
  <xs:element name="Parabolic_Profile" type="xs:integer"/>
  <xs:element name="Trapezoidal_Profile" type="xs:integer"/>
  <xs:element name="Milling_Speed" type="xs:integer"/>
  <xs:element name="Drilling_Speed" type="xs:decimal"/>
  <xs:element name="MBase_Max_Speed" type="xs:decimal"/>
  <xs:element name="MBase_Max_Accel" type="xs:decimal"/>
  <xs:element name="Head_Max_Speed" type="xs:string"/>
  <xs:element name="Head_Max_Accel" type="xs:string"/>
  <xs:element name="PKM_Platform_Max_Speed" type="xs:decimal"/>
  <xs:element name="PKM_Platform_Max_Accel" type="xs:decimal"/>
  <xs:element name="PKM_Max_Speed" type="xs:string"/>
  <xs:element name="PKM_Max_Accel" type="xs:string"/>
  <xs:element name="workpiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cam"/>
        <xs:element ref="cad"/>
        <xs:element ref="angles"/>
        <xs:element ref="vTypes"/>
        <xs:element ref="closed"/>
        <xs:element ref="CenX"/>
        <xs:element ref="CenY"/>
        <xs:element ref="CenZ"/>
        <xs:element ref="RadX"/>
        <xs:element ref="RadY"/>
        <xs:element ref="operation"/>
        <xs:element ref="VDistThresh"/>
        <xs:element ref="VDist2Thresh"/>
        <xs:element ref="Milling"/>
        <xs:element ref="Drilling"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cam" type="xs:string"/>
  <xs:element name="cad" type="xs:string"/>
  <xs:element name="angles" type="xs:string"/>
  <xs:element name="vTypes" type="xs:string"/>
  <xs:element name="closed" type="xs:integer"/>
  <xs:element name="CenX" type="xs:integer"/>
  <xs:element name="CenY" type="xs:integer"/>
  <xs:element name="CenZ" type="xs:integer"/>
  <xs:element name="RadX" type="xs:decimal"/>
  <xs:element name="RadY" type="xs:integer"/>
  <xs:element name="operation" type="xs:integer"/>
  <xs:element name="VDistThresh" type="xs:decimal"/>
  <xs:element name="VDist2Thresh" type="xs:integer"/>
  <xs:element name="Milling" type="xs:integer"/>
  <xs:element name="Drilling" type="xs:integer"/>
  <xs:element name="MaxHeadPerSegNum" type="xs:integer"/>
  <xs:element name="MaxPkmPerHeadNum" type="xs:integer"/>
  <xs:element name="sHind" type="xs:integer"/>
  <xs:element name="eHind" type="xs:integer"/>
  <xs:element name="numH" type="xs:integer"/>
  <xs:element name="sBind" type="xs:integer"/>
  <xs:element name="eBind" type="xs:integer"/>
  <xs:element name="numB" type="xs:integer"/>
  <xs:element name="sPind" type="xs:integer"/>
  <xs:element name="ePind" type="xs:integer"/>
  <xs:element name="numP" type="xs:integer"/>
  <xs:element name="segInd" type="xs:integer"/>
  <xs:element name="ind" type="xs:integer"/>
  <xs:element name="bCind" type="xs:integer"/>
  <xs:element name="cx" type="xs:decimal"/>
  <xs:element name="cy" type="xs:decimal"/>
  <xs:element name="cz" type="xs:decimal"/>
  <xs:element name="theta" type="xs:double"/>
  <xs:element name="pkmTheta" type="xs:decimal"/>
  <xs:element name="ABeg" type="xs:decimal"/>
  <xs:element name="AHoldMax" type="xs:decimal"/>
  <xs:element name="AHoldMin" type="xs:decimal"/>
  <xs:element name="dPkmTheta" type="xs:decimal"/>
  <xs:element name="dTheta" type="xs:decimal"/>
  <xs:element name="pin" type="xs:integer"/>
  <xs:element name="k1" type="xs:decimal"/>
  <xs:element name="k2" type="xs:decimal"/>
  <xs:element name="line">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sP"/>
        <xs:element ref="eP"/>
        <xs:element ref="sPos"/>
        <xs:element ref="ePos"/>
        <xs:element ref="a"/>
        <xs:element ref="b"/>
        <xs:element ref="c"/>
        <xs:element ref="norm"/>
        <xs:element ref="norm2"/>
        <xs:element ref="alfa"/>
        <xs:element ref="beta"/>
        <xs:element ref="gamma"/>
        <xs:element ref="len"/>
        <xs:element ref="index"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lineseg">
    <xs:complexType/>
  </xs:element>
  <xs:element name="numActions" type="xs:integer"/>
  <xs:element name="bcx" type="xs:decimal"/>
  <xs:element name="bcy" type="xs:decimal"/>
  <xs:element name="dmin" type="xs:decimal"/>
  <xs:element name="dmax" type="xs:decimal"/>
  <xs:element name="dcen" type="xs:decimal"/>
  <xs:element name="dh" type="xs:decimal"/>
  <xs:element name="eps" type="xs:decimal"/>
  <xs:element name="alpha0" type="xs:decimal"/>
  <xs:element name="l1" type="xs:decimal"/>
  <xs:element name="l2" type="xs:decimal"/>
  <xs:element name="l3" type="xs:decimal"/>
  <xs:element name="psi1" type="xs:decimal"/>
  <xs:element name="psi2" type="xs:decimal"/>
  <xs:element name="psi3" type="xs:decimal"/>
  <xs:element name="beta7" type="xs:decimal"/>
  <xs:element name="pkmbaseToFixedPkm" type="xs:decimal"/>
  <xs:element name="hlowered" type="xs:decimal"/>
  <xs:element name="Dz" type="xs:integer"/>
  <xs:element name="maxPkmNeutralDist" type="xs:integer"/>
  <xs:element name="PX" type="xs:decimal"/>
  <xs:element name="PZ" type="xs:decimal"/>
  <xs:element name="COSGA" type="xs:decimal"/>
  <xs:element name="SINGA" type="xs:decimal"/>
  <xs:element name="agent" type="xs:string"/>
  <xs:element name="TBeg" type="xs:string"/>
  <xs:element name="TEnd" type="xs:string"/>
  <xs:element name="sP" type="xs:integer"/>
  <xs:element name="eP" type="xs:integer"/>
  <xs:element name="sPos" type="xs:string"/>
  <xs:element name="ePos" type="xs:string"/>
  <xs:element name="a" type="xs:decimal"/>
  <xs:element name="b" type="xs:integer"/>
  <xs:element name="c" type="xs:decimal"/>
  <xs:element name="norm" type="xs:decimal"/>
  <xs:element name="norm2" type="xs:decimal"/>
  <xs:element name="alfa" type="xs:decimal"/>
  <xs:element name="beta" type="xs:decimal"/>
  <xs:element name="gamma" type="xs:decimal"/>
  <xs:element name="len" type="xs:decimal"/>
  <xs:element name="index">
    <xs:complexType/>
  </xs:element>
</xs:schema>
