src/application/swarmitfix/plan/plan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="plan">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="head">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="State">
                      <xs:sequence>
                        <xs:element ref="ind"/>
                        <xs:element name="cx" type="xs:double">
                          <xs:annotation>
                            <xs:documentation>location of origin (X
                              coordinate)
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="cy" type="xs:double">
                          <xs:annotation>
                            <xs:documentation>location of origin (Y
                              coordinate)
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="cz" type="xs:double">
                          <xs:annotation>
                            <xs:documentation>location of origin (Z
                              coordinate)
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="alfa" type="xs:double">
                          <xs:annotation>
                            <xs:documentation>orientation in world
                              coordinates
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="beta" type="xs:double">
                          <xs:annotation>
                            <xs:documentation>orientation in world
                              coordinates
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="gamma" type="xs:double">
                          <xs:annotation>
                            <xs:documentation>orientation in world
                              coordinates
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="line">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="sP" type="xs:integer"/>
                              <xs:element name="eP" type="xs:integer"/>
                              <xs:element name="sPos" type="xs:string"/>
                              <xs:element name="ePos" type="xs:string"/>
                              <xs:element name="a" type="xs:double"/>
                              <xs:element name="b" type="xs:integer"/>
                              <xs:element name="c" type="xs:double"/>
                              <xs:element name="norm" type="xs:double"/>
                              <xs:element name="norm2" type="xs:double"/>
                              <xs:element name="alfa" type="xs:double"/>
                              <xs:element name="beta" type="xs:double"/>
                              <xs:element name="gamma" type="xs:double"/>
                              <xs:element name="len" type="xs:double"/>
                              <xs:element name="index">
                                <xs:complexType/>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="lineseg">
                          <xs:complexType/>
                        </xs:element>
                        <xs:element name="actions" type="xs:string"/>
                        <xs:element ref="numActions"/>
                        <xs:element name="k1" type="xs:double"/>
                        <xs:element name="k2" type="xs:double"/>
                        <xs:element name="ABeg" type="xs:double"/>
                        <xs:element name="AHoldMin" type="xs:double"/>
                        <xs:element name="AHoldMax" type="xs:double"/>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mbase">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="State">
                      <xs:sequence>
                        <xs:element ref="ind"/>
                        <xs:element name="bCind" type="xs:int">
                          <xs:annotation>
                            <xs:documentation>index into base center matrix of BaseCsp</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="cx" type="xs:double">
                          <xs:annotation>
                            <xs:documentation>base center on the bench
                              (X coordinate)
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="cy" type="xs:double">
                          <xs:annotation>
                            <xs:documentation>base center on the bench
                              (Y coordinate)
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="theta" type="xs:double">
                          <xs:annotation>
                            <xs:documentation>base orientation in global
                              (bench) XY coordinate system (kept within
                              -2pi:+2pi)
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="pinX" type="xs:string"/>
                        <xs:element name="pinY" type="xs:string"/>
                        <xs:element name="pkmTheta" type="xs:double">
                          <xs:annotation>
                            <xs:documentation>orientation of pkm base's
                              X axis in global coordinates; kept within
                              -4pi:+4pi as it may differ from theta by
                              -2pi:+2pi
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="actions">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="item" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="pin" type="xs:integer">
                                      <xs:annotation>
                                        <xs:documentation>
                                    by which pin to rotate: 1 - left, 2 - right, 3 -
                                    upper, 0 - no
                                    base rotation
                                  </xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element name="dTheta" type="xs:double">
                                      <xs:annotation>
                                        <xs:documentation>delta (rotation) angle in radians from -2pi +1/3
                                    pi
                                    to 2pi - 1/3 pi
                                  </xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element name="dPkmTheta" type="xs:double"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element ref="numActions"/>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pkm">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="State">
                      <xs:sequence>
                        <xs:element ref="ind"/>
                        <xs:choice minOccurs="1" maxOccurs="1">
                          <xs:annotation>
                            <xs:documentation>pose expressed in one of the supported coordiate systems</xs:documentation>
                          </xs:annotation>
                          <xs:element name="pkmToWrist" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>homogeneous matrix (currenlty in Matlab string format)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Xyz_Euler_Zyz">
                            <xs:annotation>
                              <xs:documentation>Xyz Euler Zyz coordinates</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="x" type="xs:double">
                                  <xs:annotation>
                                    <xs:documentation>X coordinate</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="y" type="xs:double">
                                  <xs:annotation>
                                    <xs:documentation>Y coordinate</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="z" type="xs:double">
                                  <xs:annotation>
                                    <xs:documentation>Z coordinate</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="ox" type="xs:double">
                                  <xs:annotation>
                                    <xs:documentation>rotation around X axis</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="oy" type="xs:double">
                                  <xs:annotation>
                                    <xs:documentation>rotation around Y axis</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="oz" type="xs:double">
                                  <xs:annotation>
                                    <xs:documentation>rotation around Z axis</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ind" type="xs:integer">
    <xs:annotation>
      <xs:documentation>execution index along time axis
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="numActions" type="xs:integer"/>
  <xs:complexType name="State">
    <xs:sequence>
      <xs:element name="agent" type="xs:int">
        <xs:annotation>
          <xs:documentation>index of the agent
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TBeg" type="xs:float">
        <xs:annotation>
          <xs:documentation>time before the transition should be
            completed
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TEnd" type="xs:float">
        <xs:annotation>
          <xs:documentation>time after the next transition should start
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
