src/application/swarmitfix/plan/plan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="plan">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mbase">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="State">
                      <xs:sequence>
                        <xs:element ref="ind"/>
                        <xs:element name="pinIndices">
                          <xs:complexType>
                            <xs:sequence maxOccurs="3" minOccurs="3">
                              <xs:element name="item">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="row">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:int">
                                          <xs:minInclusive value="1"/>
                                          <xs:maxInclusive value="8"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="column">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:int">
                                          <xs:minInclusive value="1"/>
                                          <xs:maxInclusive value="8"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="pkmTheta" type="xs:float"/>
                        <xs:element name="actions">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="item" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="pin">
                                      <xs:annotation>
                                        <xs:documentation>
                                    by which pin to rotate: 1 - left, 2 - right, 3 -
                                    upper, 0 - no
                                    base rotation
                                  </xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:int">
                                          <xs:minInclusive value="0"/>
                                          <xs:maxInclusive value="3"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="dThetaInd">
                                      <xs:annotation>
                                        <xs:documentation>delta (rotation) angle in multiply of 60deg
                                  </xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:int">
                                          <xs:minInclusive value="-5"/>
                                          <xs:maxInclusive value="5"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="dPkmTheta" type="xs:float"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element ref="numActions"/>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pkm">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="State">
                      <xs:sequence>
                        <xs:element ref="ind"/>
                        <xs:element name="beta7" type="xs:float">
                          <xs:annotation>
                            <xs:documentation>orientation of the head</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:choice minOccurs="1" maxOccurs="1">
                          <xs:annotation>
                            <xs:documentation>pose expressed in one of the supported coordiate systems</xs:documentation>
                          </xs:annotation>
                          <xs:element name="pkmToWrist" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>homogeneous matrix (currenlty in Matlab string format)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Xyz_Euler_Zyz">
                            <xs:annotation>
                              <xs:documentation>Xyz Euler Zyz coordinates</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="x" type="xs:float">
                                  <xs:annotation>
                                    <xs:documentation>X coordinate</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="y" type="xs:float">
                                  <xs:annotation>
                                    <xs:documentation>Y coordinate</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="z" type="xs:float">
                                  <xs:annotation>
                                    <xs:documentation>Z coordinate</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="alpha" type="xs:float">
                                  <xs:annotation>
                                    <xs:documentation>rotation angle</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="beta" type="xs:float">
                                  <xs:annotation>
                                    <xs:documentation>rotation angle</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="gamma" type="xs:float">
                                  <xs:annotation>
                                    <xs:documentation>rotation angle</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                        <xs:element minOccurs="0" name="expectedInitTime" type="xs:float"/>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="ind">
      <xs:selector xpath="pkm/item|mbase/item"/>
      <xs:field xpath="ind"/>
    </xs:unique>
  </xs:element>
  <xs:element name="ind" type="xs:int">
    <xs:annotation>
      <xs:documentation>execution index along time axis
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="numActions">
    <xs:simpleType>
      <xs:restriction base="xs:int">
        <xs:minExclusive value="0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:complexType name="State">
    <xs:sequence>
      <xs:element name="agent">
        <xs:annotation>
          <xs:documentation>index of the agent
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="TBeg">
        <xs:annotation>
          <xs:documentation>time before the transition should be
            completed
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:float">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="TEnd">
        <xs:annotation>
          <xs:documentation>time after the next transition should start
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:float">
            <xs:minExclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="state_reached_in_time" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>measured duration of reaching given state
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
